.search-body {
  margin: 0;
}

.search-result {

 img {
   vertical-align: middle;
   width: 100px;
 }
}

.search-result .search-result-text {
  vertical-align: middle;
  font-size: 22px;
}


.img-hidden {
  display: none;
  visibility: hidden;
}
