version: 2.1
orbs:
  change-api: financial-times/change-api@1
  hako: ft-circleci-orbs/hako@1.0
  cloudsmith-docker: ft-circleci-orbs/cloudsmith-docker@0.0.4

jobs:
  test:
    docker:
      - image: cimg/node:22.14.0
    steps:
      - checkout
      - run: npm install
      - run: npm test

  build_tag_and_push_image:
    docker:
      - image: cimg/node:22.14.0
    steps:
      - checkout
      - run: npm install
      - setup_remote_docker
      - cloudsmith-docker/build_image:
          image_name: ft-tps-screener
          image_registry: docker.packages.ft.com/ip-container-registry
      - cloudsmith-docker/push_image:
          image_name: ft-tps-screener
          image_registry: docker.packages.ft.com/ip-container-registry
workflows:
  build_and_deploy_ephemeral:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - main
      - build_tag_and_push_image:
          requires:
            - test
          filters:
            branches:
              ignore:
                - main
      - hako/deploy_image:
          requires:
            - build_tag_and_push_image
          name: Deploy ephemeral app to AWS (Review EU)
          image_tag: git-$(git rev-parse --short=8 HEAD)
          image_name: ft-tps-screener
          aws_account_id: $AWS_ACCOUNT_ID
          aws_region: eu-west-1
          context: circleci-oidc-empty-context
          hako_app: ft-tps-screener
          hako_env: crm-review-eu-west-1
          # use shortened branch name if available or fall back to sha value
          ephemeral_id: $(bash -lc 'BR="$CIRCLE_BRANCH";
            if [[ "$BR" =~ ([A-Za-z]{2,10})[-_/]*([0-9]{1,7}) ]]; then
            ID="${BASH_REMATCH[1],,}${BASH_REMATCH[2]}";
            else
            ID="$(printf "%s" "$BR" | sha1sum | cut -c1-7)";
            fi; printf "%.7s" "$ID"')
  build_and_deploy_prod:
    jobs:
      - test:
          filters:
            branches:
              only:
                - main
      - build_tag_and_push_image:
          requires:
            - test
          filters:
            branches:
              only:
                - main
      - hako/deploy_image:
          requires:
            - build_tag_and_push_image
          name: Deploy to AWS (Prod EU)
          image_tag: git-$(git rev-parse --short=8 HEAD)
          image_name: ft-tps-screener
          aws_account_id: $AWS_ACCOUNT_ID
          aws_region: eu-west-1
          context: circleci-oidc-empty-context
          hako_app: ft-tps-screener
          hako_env: crm-prod-eu-west-1
      - change-api/change-log:
          requires:
            - Deploy to AWS (Prod EU)
          context: change-api-orb
          system-code: ft-tps-screener
          environment: prod
          slack-channels: crme-reports
